---
language:
  - ruby
  - node_js
rvm:
  - 2
node_js:
  - stable
cache:
  bundler: true
  directories:
    - bower_components
    - node_modules
sudo: false

before_script:
  - npm install

# Install the travis gem.
# Create a deploy key and encrypt it with:
# $ travis encrypt-file .deploy_key
# Commit the encrypted file and
# replace the first command below with the generated one.
before_install:
  - if [ ! -z "${DEPLOY_KEY}" ]; then eval "$(ssh-agent)"; fi
  - ./.travis_key.sh "openssl aes-256-cbc -K $encrypted_3078eeabf3e7_key -iv $encrypted_3078eeabf3e7_iv -in .deploy_key.enc -out .deploy_key -d"
  - 'echo ''gem: --no-document'' > ~/.gemrc'

script: bundle exec rake travis
