// Social Buttons
aside.social-buttons
  height: 22px

  // Fix Tweet button width bug.
  iframe
    max-width: 150px !important

  // Like button is misaligned because it sets vertical-align: bottom.
  div.fb-like.fb_iframe_widget > span
    vertical-align: initial !important
