html
  overflow-y: scroll

// Foundation 5.2.1 sets
// height: 100%
// which breaks the layout
body
  height: auto

body
  padding: 1rem
  @media #{$medium-up}
    padding: 5rem

  > footer p
    margin-bottom: 0
    color: $monsoon
    font-size: 0.9rem

a
  +hover_glow($clr-eve-orange)

.sub-nav
  dt
    width: 100%
    margin-left: 0

  a
    text-transform: capitalize

aside.social-buttons
  margin-top: 1rem

article.markdown-body h2
  font-size: 1.2rem

#content, body > header, body > footer
  max-width: nth($large-range, 1)
  margin: auto

body > footer
  margin-top: 1rem

#content
  > p, > ul, > ol, > blockquote, div.highlight
    max-width: 1.2 * nth($medium-range, 1)

    a
      border-bottom: 1px dotted $clr-eve-orange

  div.highlight code
    margin-bottom: 1rem

  ul.clearing-thumbs
    float: left
    margin-right: 1rem
    margin-bottom: 1rem

    a
      +thumb

  h4
    color: $body-font-color

#buttons
  a
    width: 100%
    text-align: left

    @media #{$medium-up}
      width: auto
      text-align: center
      font-size: 1.5rem

    &::before
      padding-right: 1rem
