// Foundation Colors
$snow: #f9f9f9
$monsoon: #777777
$oil: #333333
$jet: #222222

// EVE Colors
$clr-eve-orange: #ffa500

//
// Custom Mixins
//

// Glow effect on hover
=hover_glow($color)
  transition: all 0.25s ease-in

  &:hover
    color: $color
