---
layout: default
---
<section id="content">
  {% include buttons.html %}

  <nav data-magellan-expedition="fixed">
    <dl class="sub-nav">
      <dt>{{ site.name }}</dt>
      <dd data-magellan-arrival="top"><a class="fi-arrow-up" href="#top" title="top"></a></dd>
    {% for link in page.subnav %}
      <dd data-magellan-arrival="{{ link.id }}">
        <a href="#{{ link.id }}">{% if link.name %}{{ link.name }}{% else %}{{ link.id }}{% endif %}</a>
      </dd>
    {% endfor %}
    </dl>
  </nav>

  {{ content }}

</section>
