<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" prefix="og: http://ogp.me/ns#"> <![endif]-->
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% include meta.html %}
  <link type="text/plain" rel="author" href="humans.txt" />
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.0/webfont.js"></script>
  {% stylesheet app %}
  <script>{% asset fonts %}</script>
  {% javascript head %}
</head>

<body>
  <header>
    <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
  </header>

  {{ content }}

  <footer>
    {% include social-buttons.html %}
    <p><a href="http://www.w3.org/html/logo/"><img src="{% asset_path html5-badge-h-css3-semantics.png %}" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics" width="165" height="64" /></a></p>
  </footer>

{% if site.social.facebook.enabled %}
  <div id="fb-root"></div>
{% endif %}

{% capture site_javascript %}
  <script>
    'use strict';
    yepnope([
    {% for lib in site.cdn.libs %}
      {
        load: '{% if site.cdn_enabled %}{{ lib[0] }}{% else %}{{ lib[2] | asset_path }}{% endif %}',
        complete: function () {
          if ( {{ lib[1] }} ) {
            yepnope('{{ lib[2] | asset_path }}');
          }
        }
      },
    {% endfor %}
      '{% asset_path app.js %}'
    ]);
  {% if site.social.facebook.enabled %}
    {% asset vendor/social-facebook %}
  {% endif %}

  {% if site.social.google.enabled %}
    {% asset vendor/social-google %}
  {% endif %}

  {% if site.social.twitter.enabled %}
    {% asset vendor/social-twitter %}
  {% endif %}

  {% if page.comments and site.disqus %}
    {% asset vendor/disqus %}
  {% endif %}

  {% if site.google_analytics %}
    {% asset vendor/google-analytics %}
  {% endif %}

  {% if site.piwik %}
    {% asset vendor/piwik %}
  {% endif %}
  </script>
{% endcapture %}
{{ site_javascript | strip_newlines }}
</body>
</html>
