<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  {% include meta.html %}
  <link type="text/plain" rel="author" href="humans.txt" />
  {% stylesheet app %}
  <script src="{% asset_path foundation/js/vendor/custom.modernizr.js %}"></script>
</head>

<body>
  <header>
    <h1><a href="/">{{ site.name }}</a></h1>
  </header>

  {{ content }}

  <footer>

  {% if site.social.facebook.enabled %}
    <div class="fb-like" data-href="{{ site.domain }}{{ page.url }}" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>
  {% endif %}

  {% if site.social.google.enabled %}
    <div class="g-plus" data-action="share" data-annotation="bubble"></div>
  {% endif %}

  {% if site.social.twitter.enabled %}
    {% if page.meta.twitter.creator %}
      {% assign twitter_via = page.meta.twitter.creator %}
    {% elsif site.meta.twitter.creator %}
      {% assign twitter_via = site.meta.twitter.creator %}
    {% elsif site.meta.twitter.site %}
      {% assign twitter_via = site.meta.twitter.site %}
    {% else %}
      {% assign twitter_via = null %}
    {% endif %}
    <a href="https://twitter.com/share" class="twitter-share-button"{% if twitter_via %} data-via="{{ twitter_via }}"{% endif %}>Tweet</a>
  {% endif %}

    <p><a href="http://www.w3.org/html/logo/"><img src="{% asset_path html5-badge-h-css3-semantics.png %}" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics" width="165" height="64" /></a></p>
  </footer>

{% if site.social.facebook.enabled %}
  <div id="fb-root"></div>
{% endif %}

  <script>
    Modernizr.load([
    {% for lib in site.cdn.libs %}
      {
        load: '{% if site.cdn_enabled %}{{ lib[0] }}{% else %}{{ lib[2] | asset_path }}{% endif %}',
        complete: function () {
          if ( {{ lib[1] }} ) {
            Modernizr.load('{{ lib[2] | asset_path }}');
          }
        }
      },
    {% endfor %}
      '{% asset_path app.js %}'
    ]);
  {% if site.social.facebook.enabled %}
    {% asset vendor/social-facebook %}
  {% endif %}

  {% if site.social.google.enabled %}
    {% asset vendor/social-google %}
  {% endif %}

  {% if site.social.twitter.enabled %}
    {% asset vendor/social-twitter %}
  {% endif %}

  {% if site.disqus %}
    {% asset vendor/disqus %}
  {% endif %}

  {% if site.google_analytics %}
    {% asset vendor/google-analytics %}
  {% endif %}

  {% if site.piwik %}
    {% asset vendor/piwik %}
  {% endif %}
  </script>
</body>
</html>
